# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
*.log
npm-debug.log*

# Dependencies (if you ever add a build step)
node_modules/

# Cloudflare Wrangler
.wrangler/

.dev.vars*
!.dev.vars.example
.env*
!.env.example
